.wrapper {
  position: absolute;
  inset: 0;
  height: 100dvh;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.713);
}

.close {
  background: none;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

.content {
  max-height: 85dvh;
  width: 100%;
  max-width: 45dvw;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  white-space: normal;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.description {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
}

.footer {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 1rem;
    padding-top: 3rem;
    max-width: 70dvw;
  }

  .close {
    top: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .content {
    max-width: 80dvw;
  }

  .title {
    font-size: 1.15rem;
    font-weight: 700;
  }

  .footer {
    padding-top: 1rem;
  }
}
