.button {
  width: auto;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 4px;
  color: var(--white);
  background: var(--turquoise);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

.variant-white {
  border-radius: 8px;
  background: var(--white);
  color: var(--gray);
}

.variant-turquoise {
  background: var(--turquoise);
}

.variant-gray {
  background: var(--graybutton);
}

.size-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
