.pagination {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  margin-top: 25px;
  padding-block: 2rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  list-style: none;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 8px;
  border: 0.1px solid transparent;
  cursor: pointer;
  color: var(--white);

  &:hover {
    background-color: rgb(59, 59, 59);
    color: var(--white);
  }
}

.ghost {
  background-color: transparent;
  border: none;
}

.outline {
  background-color: rgb(59, 59, 59);
  color: var(--white);
}

.previous {
  gap: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.arrowLeft {
  margin-right: 12px;
}

.arrowRight {
  margin-left: 12px;
}

.next {
  padding-right: 0.625rem;
}

.spanPreviousNext {
  display: block;
}

.ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  cursor: default;
  color: #bdbdbd;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (max-width: 900px) {
  .content {
    gap: 0.05rem;
  }

  .link {
    font-size: 0.75rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
  }

  .spanPreviousNext {
    display: none;
  }

  .next {
    padding-inline: 0.25rem;
  }

  .arrowLeft {
    margin-right: 0.25rem;
  }

  .arrowRight {
    margin-left: 0.25rem;
  }
}
