.header {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  user-select: none;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
  word-break: break-word;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  transition: left 0.3s ease;
}

.arrowIcon {
  width: 18px;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

.texts {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 2rem;
  }

  .title {
    margin-left: 0;
  }

  .toggleBtn {
    display: none;
  }

  .texts {
    margin-left: 0;
  }
}
